body {
  background-image: url("./images/background.jpg");
  font-family: "lemon";
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 3.2em;
  text-align: center;
  padding: 20px;
}

.counter {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
  text-align: center;
  padding: 20px;
}

.cookie {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cookie #cookie-button {
  background-color: transparent;
  border-color: transparent;
  background-image: url("./images/cookie-large.png");
  background-size: cover;
  border-radius: 50%;
  width: 512px;
  height: 512px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cookie #cookie-button:hover {
  transform: scale(1.06);
}

.cookie #cookie-button:active {
  transform: scale(1);
}

.store {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 2em;
  padding: 20px 15% 40px 15%;
}

.store h2 {
  text-align: center;
  padding-bottom: 20px;
}

.store .item-heading,
.store .item {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

.store .item-heading div,
.store .item div,
.store .item button {
  flex: 1;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.store .item-heading div:last-child,
.store .item-heading div:nth-child(2),
.store .item div:nth-child(2) {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.store .item-heading div:first-child,
.store .item div:first-child {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.store .item:last-child {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.store .item button {
  background-color: transparent;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  font: inherit;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 6.8px 15px 6.8px 15px;
}

.store .item button:hover {
  background-color: #cfaf78;
  color: #5a352b;
  text-shadow: none;
}

.store .item button img {
  display: inline-block;
  width: 39px;
  height: auto;
  padding-right: 10px;
  vertical-align: middle;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  text-align: center;
  padding: 20px;
}
